<!-- <div class="row">
    <div class="col-md-4 sm-12">
        <h2>Moneda:</h2>
        <form #formulario="ngForm" (submit)="getMoneda()">
            <div class="form-group">
                <label for="moneda">Introduzca una moneda:</label>
                <input type="text" class="form-control" name="moneda" [(ngModel)]="monedaSeleccionada" required #moneda="ngModel">
                <div *ngIf="moneda.invalid && moneda.touched" class="text-danger">
                  Este campo es obligatorio
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
                    Buscar
                  </button>
            </div>
        </form>
    </div>
    <div class="col-md-8 sm-12">
    <div class="col-md-4">
        <table *ngIf="monedaPais.length>0">
            <thead>
                <tr>
                    <th scope="col">País</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Bandera</th>
                    <th scope="col">Mapa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of monedaPais">
                    <td><div style="width: 10rem">{{pais.name.common}}</div></td>
                    <td><div style="width: 10rem">{{pais.capital}}</div></td>
                    <td>
                    <div class="image" style="width: 10rem">
                        <img class="card-img-top" [src]="pais.flags.png" [alt]="pais.name">
                    </div>
                    </td>
                    <td>
                      <div class="image" style="margin-left: 1rem">
                        <a class="btn btn-primary" href="{{pais.maps.googleMaps}}" target="_blank" role="button">Map</a>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
 -->
 <p>Hola, esto es Pais</p>