<div class="row">
    <div class="col-md-4 sm-12">
        <h2>Moneda:</h2>
        <form #formulario="ngForm" (submit)="getMoneda()">
            <div class="form-group">
                <label for="moneda">Introduzca una moneda:</label>
                <input type="text" class="form-control" name="moneda" [(ngModel)]="monedaSeleccionada" required #moneda="ngModel">
                <div *ngIf="moneda.invalid && moneda.touched" class="text-danger">
                  Este campo es obligatorio
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
                    Buscar
                  </button>
            </div>
        </form>
    </div>
</div>
<br>
 <app-tabla-paises [monedaPais]="monedaPais"></app-tabla-paises>